/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    max-width: 100%;
    
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    width: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
  
}

/* Your code starts here! */
 * {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    
  
}
 .container{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
    /* flex-wrap: wrap;
    margin:auto 0;
    width: auto; */
 }

  /* background-color: powderblue; 
}*/
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	height:50px;
	word-spacing: 50px;
	font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-bottom: 1%;
border:2px black;
}
.navigation a{
    color:black
}
.header{
    display: flex;
    flex-direction: column;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    
     margin:auto ;
    /* margin-top:25px; */
	/* margin:100px;
	width: 70%;
	height: 20px;
	padding: 5px; */
	font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 3%; 
}
    .in, .on, .demand{
        font-size: 60px;
    }

.top-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.5;
    
    width:85%;
    margin: auto;
    height:150px;
    font-size: medium;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin-bottom: 10%; */
    /* display:flex;
    
  justify-content: center;
    margin-top: 50px;
    width:100%;
	line-height: 1.5;
    font-size: medium;
    margin-bottom: 5%;
    align-items: center;
	 
	 */
}
.line1{
    border:2px black;
}


.bottom-content{
    display: flex;
	/* display: flex;*/
    justify-content: center;
     
    line-height: 1.5;
    margin: auto;
    width: 80%;
    font-size: medium;
    margin-bottom: 2%; 
	 
	/* margin:auto 0;
	width: 75%;
	height: 190px; */
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
	margin:auto;
	width: 200px;
	height: 100px;
	padding: 5px;
	text-align: center;
}.footer{
	text-align: center;
}
h1, h2, h3, h4, h5 {
    display: inline-block;
    /* justify-content: center; */
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	 /* margin-bottom: 15px;  */
	text-align: left;
    line-height: 1.5;
     align-items: center; 
}
.start{
     display: flex;
     margin-bottom: 2%;
    
  /* margin: auto;   */
  /* margin-bottom: 5%; */
 font-size: 35px;
 border:solid 2px black;
 width:200px;
 background: grey;
 
    justify-content: center;
    align-items: center;
}
	/* width: 75%;
	height: 190px; */
	/*border: 2px solid black; */
	/* text-align: center; */
    /* margin-bottom:50px;*/
 .big{
  
      margin:auto ;
      justify-content: right;
      /* margin-bottom: 5%; */
    }
   
   .midpic{
       display:flex;
       justify-content: center;
       width:100%;
       margin-top: 5%;
       margin-bottom: 5%;
   }

/* .line1{
    display: flex;
    flex-direction: row;
    
    width:30%; 
    margin:auto 0; */
    /* justify-content: center; */
    /* align-items: center; 
}*/
/*.line2{
    display: flex;
    flex-direction: row;
    width:20%;
    margin: auto 0;
    /* justify-content: center;  */
    /* align-items: center; 

}*/
@media (max-width: 800px) {
    /* * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 1px solid gray; 
      
    }*/
    .container{
        display:flex;
        
        /* flex-wrap: wrap; */
        /* justify-content: space-between; */
        /* flex-direction: column; 
        justify-content: space-evenly; */
        /* height: 850px;
        width: 100%; */
     margin:auto ;
     /* margin-top: 10%; */
    }

    .logo{
        display: flex;
        justify-content: center;
       
        
    }
    .navigation {
        height:120px;
        display:flex;
         flex-direction: column-reverse;
        justify-content: space-evenly; 
}
        color:black
        .header{
            display: flex;
            font-size: auto;
            margin: auto;
            width: 780px;
            height:300px
        
        }
    
    .big{
        display:none;
    }
    .contact{
        display: flex;
        justify-content: center;
    }
    .start{
        margin-bottom: 20%;
    } 

}
@media (max-width: 500px) {
     * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 1px solid gray;
      
    } 
    .container{
        display:flex;
        /* flex-direction: column; */
        /* justify-content: space-evenly; */
        width:100%;
    }
        

.navigation {
     display: flex; 
     flex-direction: column-reverse; 
    justify-content: center;
     
    margin: auto ;
    align-items: center;
    margin-bottom: 10%;
    width:100%;
     /* height:50px; */
     height:150px;
    /* width:100%; */
    /* scroll-margin-bottom: 5%; */
	/* word-spacing: 50px; */
	font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    		
}
header{
    display: flex;
    flex-direction: column;
    
    width: auto;
    
    margin: auto 0;
}
.navigation a{
    display: flex;
    align-items: center;
    color:black
}
.bigpic{
    display:none;
}
 a{
    
    border-bottom: 2px solid gray;
    width:100%;
    
     justify-content: center; 
    
}
.start{
    margin-bottom: 30%;
}
.top-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30%;
}
.bottom-content{
    display:flex;
    flex-wrap: wrap;
}
}