/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
  
}

/* Your code starts here! */
 * {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid gray;
  
}
 .container{
    display: flex;
    flex-wrap: wrap;
    margin:auto 0;
    width: 100%; 
 }

  /* background-color: powderblue; 
}*/
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	height:50px;
	word-spacing: 50px;
	font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    		
}
.navigation a{
    color:black
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto 0;
    margin-top:25px;
	/* margin:100px;
	width: 70%;
	height: 20px;
	padding: 5px; */
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
}
.top-content{
    display:flex;
  justify-content: center;
    margin-top: 50px;
    width:100%;
	line-height: 1.5;
    font-size: medium;
    margin-bottom: 5%;
	 
	
}


.bottom-content{
	display: flex;
    justify-content: center;
    
	line-height: 1.5;
    font-size: medium;
    /* margin-bottom: 10%; */
	 
	/* margin:auto 0;
	width: 75%;
	height: 190px; */
}
.contact{
	display: inline-block;
	margin:100px;
	width: 10%;
	height: 75px;
	padding: 5px;
	text-align: center;
}.footer{
	text-align: center;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	text-align: left;
    line-height: 1.5;
     align-items: center; 
}
.start{
    display: flex;
    
    align-items: center;
    justify-content: center;
 font-size: 35px;
    
}
	/* width: 75%;
	height: 190px; */
	/*border: 2px solid black; */
	/* text-align: center; */
    /* margin-bottom:50px;*/
    .bigpic{
        display: flex;
      justify-content: center;
      margin-bottom: 5%;
    }
   
   .midpic{
       display:flex;
       justify-content: center;
       width:100%;
       margin-bottom: 5%;
   }

.line1{
    display: flex;
    flex-direction: row;
    width:30%;
    margin:auto 0;
    /* justify-content: center; */
    /* align-items: center; */
}
.line2{
    display: flex;
    flex-direction: row;
    width:20%;
    margin: auto 0;
    /* justify-content: center;  */
    /* align-items: center; */

}
@media (max-width: 800px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 1px solid gray;
      
    }
    .container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation a{
        color:black
    }
    .bigpic{
        display:none;
    }

}
@media (max-width: 500px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        max-width: 100%;
        border: 1px solid gray;
      
    }
    .container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	height:50px;
	word-spacing: 50px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;		
}
.navigation a{
    color:black
}
.bigpic{
    display:none;
}
}